.main-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main-header {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.main-text {
  flex: 5;
  width: 70vw;
  justify-content: center;
  align-items: flex-start;
}